<a href="https://colab.research.google.com/github/AshOne91/PLAYDATA-COLAB/blob/main/5_%EA%B5%AC%EC%A1%B0%EC%A0%81%EC%9D%B8_%ED%83%80%EC%9E%85%EA%B3%BC_%EA%B0%80%EB%B3%80%EC%84%B1(%ED%8A%9C%ED%94%8C%2C%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리
  - 집합형 데이터.. 리스트 튜플 셋
  - 단점 : ['홍길동',20,95,85,80], ['강감찬',25,95,85,80],[25,95,'강감찬'85,80]
  - key:value 가 하나의 원소 이루어진 집합
  - key는 중복이 안됨
  - 대표 --> 주민번호 : 이름

In [ ]:
# Dataset 이라고도 표현
person ={
   'name' :'철수',
   'age' : 25,
   'kor' : 100,
   'eng' : 98,
   'math' : 95
}  # C

# 데이터... C(생성)R(읽기)D(삭제)U(갱신)
print(person)  # R
# 값 접근  해당 키값을 index로 해서 접근
print(f"이름 : {person['name']}")  # R
# 수정  U
person['name'] = '김철수'
print(f"이름 : {person['name']}")  # R
# 데이터 추가
person['sci'] = 100
print(person)
del person['age']  # D 삭제
print(person)

{'name': '철수', 'age': 25, 'kor': 100, 'eng': 98, 'math': 95}
이름 : 철수
이름 : 김철수
{'name': '김철수', 'age': 25, 'kor': 100, 'eng': 98, 'math': 95, 'sci': 100}
{'name': '김철수', 'kor': 100, 'eng': 98, 'math': 95, 'sci': 100}

In [ ]:
for i in person:
  print(i)

name
kor
eng
math
sci

# 키의 존재유무

In [ ]:
'name' in person  # 키 값중에 name 이라는 키의 존재유무

True

# 데이터 읽어오기

In [ ]:
# 키 값을 인덱스로 직접 불러오기
print(person['name'])
print(person.get('test','없음' ))
print(person['test'])   # 에러발생... test 라는 키가 존재하지 않음

김철수
없음

KeyError: 'test'

In [ ]:
# dictionary 의 내장함수 get과 유사한 기능의 함수를 구현해 보기
# 두번째 매개변수가 키 값이고 해당 키가 있으면 키의 값을 반환하고, 세번째는 키가 없을때 반환하는 값
def my_get(dic, key, default):
    if key in dic:
        return dic[key]
    else:
        return default
print( my_get(person,'job',0)  )

0

# 주요 메서드(내장함수)
  - 클래스내부에서 사용하는 함수는 메서드 method 라고 부르며
  - 클래스를 활성화 시키는게 객체인데.. 객체로 호출하는 함수는 메서드이고 형태는  
  - 객체.메서드   "  ".upper()

In [ ]:
person ={
   'name' :'철수',
   'age' : 25,
   'kor' : 100,
   'eng' : 98,
   'math' : 95
}
# keys()
print(f'key값들 : {person.keys()}')
# values()
print(f'값들 : {person.values()}')
# 키와 값을 하나의 쌍(튜플)으로
print(f'키와값 : {person.items()}')
# pop(키) 키로 값을 제거 후 반환
print(f"name 키 제거 및 제거한 값 반환: {person.pop('name')}")
print(f'person의 전체값 : {person}')
# clear() 모든 항목 제거
person.clear()
print(f'person의 전체값 : {person}')

key값들 : dict_keys(['name', 'age', 'kor', 'eng', 'math'])
값들 : dict_values(['철수', 25, 100, 98, 95])
키와값 : dict_items([('name', '철수'), ('age', 25), ('kor', 100), ('eng', 98), ('math', 95)])
name 키 제거 및 제거한 값 반환: 철수
person의 전체값 : {'age': 25, 'kor': 100, 'eng': 98, 'math': 95}
person의 전체값 : {}

# dictionary 만드는 다양한 방법

In [ ]:
dict_1 = {}
dict_1['name'] = '홍길동'
dict_1['age'] = 20
print(dict_1)

{'name': '홍길동', 'age': 20}

In [ ]:
names = ['apple','grap','banana','orange', 'apple']
price = [100,200,300,400,10000]
print(dict(zip(names,price)))

result = {}
for i in range(len(names)):
  result[names[i]] = price[i]

print(result)

{'apple': 10000, 'grap': 200, 'banana': 300, 'orange': 400}
{'apple': 10000, 'grap': 200, 'banana': 300, 'orange': 400}

In [ ]:
# enumerate : 순환할때 0부터 시퀀하게 번호를부여해
for index , name in enumerate(names):
  print(index, name)

0 apple
1 grap
2 banana
3 orange
4 apple

In [ ]:
result = {}
for index , name in enumerate(names):
  result[name] = price[index]
print(result)

{'apple': 10000, 'grap': 200, 'banana': 300, 'orange': 400}

In [ ]:
# 알파벳의 개수를 세어 보자
text = 'Zelensky describes Oval Office meeting as ‘regrettable,’ says he is ready to negotiate peace'
import re
text = re.sub('[^a-zA-Z]','',text).lower()
print(text)
count_dic = {}
for c in text:
  # if c in count_dic:  # c 의 값이 count_dic이라는 딕셔너리의 키값들중에  있는지 여부
  #   count_dic[c] += 1
  # else:
  #   count_dic[c] = 1  # {'z' : 1, 'e': 2, 'l' : 1, }

  count_dic[c] = count_dic.get(c,0) + 1
print(count_dic)

zelenskydescribesovalofficemeetingasregrettablesaysheisreadytonegotiatepeace
{'z': 1, 'e': 16, 'l': 3, 'n': 3, 's': 7, 'k': 1, 'y': 3, 'd': 2, 'c': 3, 'r': 4, 'i': 5, 'b': 2, 'o': 4, 'v': 1, 'a': 7, 'f': 2, 'm': 1, 't': 6, 'g': 3, 'h': 1, 'p': 1}

In [ ]:
# 정렬 count_dic  내림차순
# 1. key에서 구분할수 있게 정렬대상을 items()를 이용해서 key,value로 구분하고
# 2. key 즉 기준을 람다식으로 표현한다
print(count_dic.items())
count_dict =  sorted(count_dic.items(), key = lambda x : x[1], reverse=True)
print(count_dict)

dict_items([('z', 1), ('e', 16), ('l', 3), ('n', 3), ('s', 7), ('k', 1), ('y', 3), ('d', 2), ('c', 3), ('r', 4), ('i', 5), ('b', 2), ('o', 4), ('v', 1), ('a', 7), ('f', 2), ('m', 1), ('t', 6), ('g', 3), ('h', 1), ('p', 1)])
[('e', 16), ('s', 7), ('a', 7), ('t', 6), ('i', 5), ('r', 4), ('o', 4), ('l', 3), ('n', 3), ('y', 3), ('c', 3), ('g', 3), ('d', 2), ('b', 2), ('f', 2), ('z', 1), ('k', 1), ('v', 1), ('m', 1), ('h', 1), ('p', 1)]

In [ ]:
# 학생에대한 정보
student1 = {}
student1['name'] = '홍길동'
student1['age'] = 30
student1['score'] = {'kor':100,'eng':100,'math':100}

student2 = {}
student2['name'] = '홍길동2'
student2['age'] = 22
student2['score'] = {'kor':100,'eng':88,'math':100}


my_class = [student1, student2]
print(my_class)

[{'name': '홍길동', 'age': 30, 'score': {'kor': 100, 'eng': 100, 'math': 100}}, {'name': '홍길동2', 'age': 22, 'score': {'kor': 100, 'eng': 88, 'math': 100}}]

In [ ]:
print( sorted(my_class, key = lambda x:x['age'] ) )   # age 기준으로 오름차순
print( sorted(my_class, key = lambda x: sum(x['score'].values() ) ) )# score 기준 즉 딕셔너리의 값들의 총 합 기준

[{'name': '홍길동2', 'age': 22, 'score': {'kor': 100, 'eng': 88, 'math': 100}}, {'name': '홍길동', 'age': 30, 'score': {'kor': 100, 'eng': 100, 'math': 100}}]
[{'name': '홍길동2', 'age': 22, 'score': {'kor': 100, 'eng': 88, 'math': 100}}, {'name': '홍길동', 'age': 30, 'score': {'kor': 100, 'eng': 100, 'math': 100}}]

In [ ]:
cadidate = [ 'A','B','C','D','E' ]
votes = []

for _ in range(10):
  choice = int(input("A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 : "))
  votes.append(choice)

print(" 투표가 끝났습니다 ")
print(f'튜표결과 {votes}')
# 개표... dictionary 구조를 이용해서 각 후보자의 번호별 횟수를 구해서
# 가장 많은 득표에 해당하는 candidate의 값을 출력

A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 : 0
A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 : 1
A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 : 2
A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 : 1
A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 : 1
A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 : 2
A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 : 1
A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 : 3
A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 : 4
A(0) B(1) C(2) D(3) E(4) 선택한 후보자의 번호를 입력 : 2
 투표가 끝났습니다
튜표결과 [0, 1, 2, 1, 1, 2, 1, 3, 4, 2]

In [ ]:
votes = [2, 2, 1, 1, 2, 1, 3, 4, 2,0]

In [ ]:
votes_count = {}  # 투표를 카운트할 딕셔너리
for vote in votes: # 투표를 카운트
  votes_count[vote] = votes_count.get(vote, 0) + 1

print(votes_count)

max_value = max(votes_count.values())  # 딕셔너리중에 최대값을 찾기
# 1.리스트컴프리핸션 : 딕셔너리의 값들중에서 최대값일대의 인덱스를 리스트로 저장
# 2.리스트컴프리핸션 : 1번 리스트를 순환하면서 해당 키값으로 candidate 리스트의 값을 리스트로 저장
[cadidate[i] for i in  [ key for key,value in votes_count.items() if value == max_value  ] ]

{2: 4, 1: 3, 3: 1, 4: 1, 0: 1}

['C']

In [ ]:
temp = {0: 1, 1: 4, 2: 4, 3: 1, 4: 1}
# max(temp, key = lambda x : temp[x])
max_index = max(temp.items(), key = lambda x : x[1])[0]
cadidate[max_index]

# values()  를 이용해서 최대값 찾는다.. 4
# 딕셔너리를 순환하면서 값이 4인 키를 찾는다
max_value = max(temp.values())
[ cadidate[key] for key in  [ key for key,value in temp.items() if value == max_value ] ]

['B', 'C']

# 키워드 가변 매개변수

In [ ]:
def my_func1(data, epoch, lr, optimizer):
  print(f'data:{data}, epoch:{epoch}, lr:{lr}, optimizer:{optimizer}')

In [ ]:
# 1. 함수 호출
my_func1([1,2,3,4],5,0.01,'adam')  # 순서에 맞춰야 함
my_func1(data = [1,2,3,4], epoch = 5,  lr = 0.01, optimizer = 'adam')  # 순서에 맞출 필요가 없음

data:[1, 2, 3, 4], epoch:5, lr:0.01, optimizer:adam
data:[1, 2, 3, 4], epoch:5, lr:0.01, optimizer:adam

In [ ]:
args = {
    'data' : [1,2,3,4],
    'epoch' : 5,
    'lr' : 0.01,
    'optimizer' : 'adam'
}
# unpack으로 함수에 전달
my_func1(**args)

data:[1, 2, 3, 4], epoch:5, lr:0.01, optimizer:adam

In [ ]:
def my_func2(data,x,y):
  print(f'data:{data}, x:{x}, y:{y}')

In [ ]:
my_func2([1,2,3], 10, 10)

data:[1, 2, 3], x:10, y:10

In [ ]:
args = [
    [1,2,3],
    10,
    10
 ]
 # unpack
my_func2(*args)  #  my_func2([1,2,3], 10, 10)

data:[1, 2, 3], x:10, y:10

# 반대로 함수에 *  ** 를 적용

In [ ]:
def my_func3(*args):
  for arg in args:
    print(f'전달된 파라메터는 : {arg}')

my_func3(10,20,30,40,50)

전달된 파라메터는 : 10
전달된 파라메터는 : 20
전달된 파라메터는 : 30
전달된 파라메터는 : 40
전달된 파라메터는 : 50

In [ ]:
def my_func4(**args):
  for key,value in args.items():
    print(f'key:{key},value:{value}')

my_func4(a=1,b=2,c=3)

key:a,value:1
key:b,value:2
key:c,value:3

# 가변매개변수와 키워드 가변매개변수를 혼용해서 사용

In [ ]:
def my_func5(*items, **details):
  print(f'아이템:{items}')
  for key,value in details.items():
    print(f'key:{key},value:{value}')

my_func5("물풍선",'자석',title = '카트라이더', score = 1524120)

아이템:('물풍선', '자석')
key:title,value:('카트라이더',)
key:score,value:(1524120,)

# 리스트 컴프리핸션

In [ ]:
# result = []
# for i in range(5):
#   result.append(i)

result = [  i*5  for i in range(5)  ]

# 결과
print( result )

[0, 5, 10, 15, 20]

In [ ]:
# 조건문 포함
# 참 if 조건 else 거짓
result = [  i for i in range(10) if i % 2 == 0  ]
print(result)

[0, 2, 4, 6, 8]

In [ ]:
result = [  '짝수' if i % 2 == 0 else '홀수' for i in range(10)   ]
print(result)

['짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

In [ ]:
import random
random.randint(1,100)  # 1 부터 99까지의 임의의 숫자 한개
# 1 ~ 99까지의 숫자중에서 난수를 10개 리스트에 담기
[    random.randint(1,100)  for i in range(10)   ]

[84, 29, 27, 26, 46, 72, 77, 68, 62, 99]

In [ ]:
# 문장을 입력받아서..
# 단어단위로 리스트로 분리해서  split()  공백기준
# 리스트에 있는 각 단어의 길이를 리스트에 저장
text = '동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세'
text = text.split()
result = [  len(word)      for word in text    ]
print(f'문자열의 각 단어들은 : {text}')
print(f'각 문자열의 길이는 : {result}')

문자열의 각 단어들은 : ['동해물과', '백두산이', '마르고', '닳도록', '하느님이', '보우하사', '우리나라', '만세']
각 문자열의 길이는 : [4, 4, 3, 3, 4, 4, 4, 2]

#  중첩컴프리핸션

In [ ]:
# 2차원 리스트
matrix = [  [10,20],[30,20],[20,30],[10,50]     ]
print(matrix)
[  i2 for i in matrix  for i2 in i ]

[[10, 20], [30, 20], [20, 30], [10, 50]]

[10, 20, 30, 20, 20, 30, 10, 50]

In [ ]:
[ [ random.randint(1,100) for i in range(2)] for i in range(4)  ]

[[70, 92], [24, 90], [44, 46], [53, 51]]

# 정리1
  - 딕셔너리
  - 키워드 가변 매개변수
  - 리트스 컴프리핸션
    - 결과를 리스트로
    - 결과를 딕셔너리

In [ ]:
sample = [ ('name','홍길동'),('age',20),('score', 95)          ]
{  key:value for key,value in sample    }

{'name': '홍길동', 'age': 20, 'score': 95}

In [ ]:
# 딕셔너리는  우리가 아는 테이블 구조를 설명가능하다
books_table = []
book1 = {
    'title' : '혼자공부하는 파이썬',
    'publisher' : '한빛출판사',
    'author' : '박혜선',
    'price' : 15000,
    'serialnum':'001',
    'rent' : False
}
book2 = {
    'title' : '이것이 mysql 이다',
    'publisher' : '한빛출판사',
    'author' : '우재남',
    'price' : 25000,
    'serialnum':'001',
    'rent' : False
}
book3 = {
    'title' : '혼자공부하는 인공지능',
    'publisher' : '한빛출판사',
    'author' : '홍길동',
    'price' : 35000,
    'serialnum':'001',
    'rent' : False
}
books_table = [book1, book2, book3 ]
print(books_table)
# 도서 검색(책 재목으로 검색)
search = input('제목입력: ')
finded_book = [ book  for book in books_table if search in  book['title'] ]

if len(finded_book) > 0:
  print(f'책이름 : {finded_book}')
else:
  print('없어요')

[{'title': '혼자공부하는 파이썬', 'publisher': '한빛출판사', 'author': '박혜선', 'price': 15000, 'serialnum': '001', 'rent': False}, {'title': '이것이 mysql 이다', 'publisher': '한빛출판사', 'author': '우재남', 'price': 25000, 'serialnum': '001', 'rent': False}, {'title': '혼자공부하는 인공지능', 'publisher': '한빛출판사', 'author': '홍길동', 'price': 35000, 'serialnum': '001', 'rent': False}]
제목입력: 혼자
책이름 : [{'title': '혼자공부하는 파이썬', 'publisher': '한빛출판사', 'author': '박혜선', 'price': 15000, 'serialnum': '001', 'rent': False}, {'title': '혼자공부하는 인공지능', 'publisher': '한빛출판사', 'author': '홍길동', 'price': 35000, 'serialnum': '001', 'rent': False}]

In [ ]:
'혼자' in '혼자공부하는 파이썬'

True

In [ ]:
# 사용자가 "홍길동 20" 입력이 들어오면 input
datas_list = []

for i in range(5):
  data = input('이름과 나이를 입력하세요 :').split()  # [ '홍길동', '20' ]
  datas = {}
  datas['name'] = data[0]
  datas['age'] = int(data[1])
  datas_list.append(datas)
  print(datas_list)

print(f'입력된 데이터: {datas_list}')

이름과 나이를 입력하세요 :철이 20
[{'name': '철이', 'age': 20}]
이름과 나이를 입력하세요 :미애 25
[{'name': '철이', 'age': 20}, {'name': '미애', 'age': 25}]
이름과 나이를 입력하세요 :철수 15
[{'name': '철이', 'age': 20}, {'name': '미애', 'age': 25}, {'name': '철수', 'age': 15}]
이름과 나이를 입력하세요 :홍길동 35
[{'name': '철이', 'age': 20}, {'name': '미애', 'age': 25}, {'name': '철수', 'age': 15}, {'name': '홍길동', 'age': 35}]
이름과 나이를 입력하세요 :이순신 33
[{'name': '철이', 'age': 20}, {'name': '미애', 'age': 25}, {'name': '철수', 'age': 15}, {'name': '홍길동', 'age': 35}, {'name': '이순신', 'age': 33}]
입력된 데이터: [{'name': '철이', 'age': 20}, {'name': '미애', 'age': 25}, {'name': '철수', 'age': 15}, {'name': '홍길동', 'age': 35}, {'name': '이순신', 'age': 33}]

In [ ]:
# 나이가 적은순으로 데이터를 정렬 출력 오름차순
  # 리스트에 있는 딕셔너리중에 키값이 age를 기준으로 리스트를 정렬
for i in sorted(datas_list, key=lambda x:x['age']) :
  print(i)

# 나이가 가장 많은 사람 이름을 전부 출력(동률을 고려)
# 리스트의 딕셔너리중에 age의 값이 가장 큰 값을 찾아서  max_age
# 다시 리스트의 딕셔너리를 순환하면서 age의 값이 max_age와 같은 name을 출력
max_age = max( [i['age'] for i in datas_list] )
[ i['name'] for i in datas_list  if i['age'] == max_age ]

{'name': '철수', 'age': 15}
{'name': '철이', 'age': 20}
{'name': '미애', 'age': 25}
{'name': '이순신', 'age': 33}
{'name': '홍길동', 'age': 35}

['홍길동']

In [ ]:
def getData(datas_list):   # 단일데이터가 아닌 집합을 나타내는 변수는 내부에 해당 주소를 가지고 있다
# 주소값이 전달되기때문에 내부에서 실행결과가 함수 실행도중에 반영된다.
  for i in range(1):
    data = input('이름과 나이를 입력하세요 :').split()  # [ '홍길동', '20' ]
    datas = {}
    datas['name'] = data[0]
    datas['age'] = int(data[1])
    datas_list.append(datas)

temp = []  # 리스트 변수 생성
getData(temp)  # 함수에 리스트 변수에 있는 값(리스트의 주소)을 복사해서 전달
print(temp) # 함수를 실행하고 나면 주소값을 이용한 데이터가 변경되었기 때문에 리턴 없어도 데이터가 반영

In [ ]:
def getData():
  datas_list = []  # 함수내부에서 지역변수로 리스트를 생성
  for i in range(1): # 해당 리스트에 데이터를 추가
    data = input('이름과 나이를 입력하세요 :').split()  # [ '홍길동', '20' ]
    datas = {}
    datas['name'] = data[0]
    datas['age'] = int(data[1])
    datas_list.append(datas)
  return datas_list  # 지역변수이고 함수실행이 끝나면 사라지므로 값을반환한다

temp = getData()  # 함수 실행후 반환되는 리스트의 값을 받는다
print(temp)

이름과 나이를 입력하세요 :aaa 11
[{'name': 'aaa', 'age': 11}]

In [ ]:
temp = [10,20,30,40]
temp_list = [
    {'items':['a',{'scores':temp},'c']}, {'power' : 100}
]

print(f'변경전 : {temp_list}')
# 30에 접근하려면
# temp_list[0]['items'][1]['scores'][2] = 100
# temp_list

temp[2] = 100
print(f'변경후 : {temp_list}')

## --- 작업을 하다가...

변경전 : [{'items': ['a', {'scores': [10, 20, 30, 40]}, 'c']}, {'power': 100}]
변경후 : [{'items': ['a', {'scores': [10, 20, 100, 40]}, 'c']}, {'power': 100}]

# 데코레이터  decorator  : java 의 추상화 비슷 한 개념
  - 함수나 메소드를 감싸서 추가적인 기능을 제공
  - 기존 코드를 수정하지 않고 동작을 확장
  - 고차원함수 : 다른함수를 인자로 받아서 새로운 함수를 반환
  - @데코레이터_이름 을 함수 정의부분 위에 선언한다

In [ ]:
def decorator(func):  # 매개변수로 함수가 전달
  def wrapper():
    print('함수 실행전')
    func()
    print('함수 실행후')
  return wrapper

def say_hello():  # 매개변수로 전달할 함수를 생성
  print('hello')

# 실행
myfunc = decorator(say_hello)
myfunc()

함수 실행전
hello
함수 실행후

In [ ]:
# 데코레이터 적용
def decorator(func):  # 매개변수로 함수가 전달
  def wrapper():
    print('함수 실행전')
    func()
    print('함수 실행후')
  return wrapper

@decorator
def say_hello():
  print('hello')

say_hello()

함수 실행전
hello
함수 실행후

In [ ]:
def log_decorator(func):
  def wrapper(*args, **kwargs):  # 모든 종류의 인자를 처리한다
    print(f'{func.__name__}호출  args:{args}, kwargs:{kwargs}')
    result = func(*args, **kwargs)
    return result
  return wrapper

@log_decorator
def add(a,b):
  return a + b
print(add(10,20))

@log_decorator
def makeString(name,age):
  return name + str(age)

print(makeString(name='홍길동', age = 100))

add호출  args:(10, 20), kwargs:{}
30
makeString호출  args:(), kwargs:{'name': '홍길동', 'age': 100}
홍길동100

- 정리2
  - 딕셔너리
  - 키워드 가변 매개변수
    - packing / unpacking
  - 리스트 컴프리핸션
  - 데코레이션

In [ ]:
# 성적관리 시스템
# 학생데이터를 딕셔너리로 관리
# 키워드 가변 매개변수로 입력을 처리
# packing / unpacking을 이용해서 데이터를 구조화
# 리스트 컴프리 핸션을 이용해서 데이터 변화 및 필터링

In [ ]:
import random
# 1 학생 데이터를 딕셔너리로 정의
# {'kor':90, 'eng':95, 'math': 95}  -> 직접 코딩안하고... 60 ~ 100 난수 생성해서

{'kor':random.randint(60,101), 'eng':random.randint(60,101), 'math': random.randint(60,101)}
dict( zip(['kor','eng','math'],[random.randint(60,101),random.randint(60,101),random.randint(60,101)]) )
dict( zip(['kor','eng','math'],[ random.randint(60,101) for i in range(3) ]) )

subjects = ['kor','eng','math']
{ subject:random.randint(60,101)  for subject in subjects  }

students = [
  { 'name' : '홍길동', 'scores':{ subject:random.randint(60,101)  for subject in subjects  } },
  { 'name' : '이철수', 'scores':{ subject:random.randint(60,101)  for subject in subjects  } },
  { 'name' : '김영희', 'scores':{ subject:random.randint(60,101)  for subject in subjects  } },
]

# 학생데이터 생성 함수 : 파라메터를 이름, 과목별 성적
def addData(name, **scores):
  return {'name':name, 'score':scores}

# 기존 데이터에 추가
students.append( addData('강감찬', kor = 90, eng = 80, math = 70) )

In [ ]:
# 초기 데이터
subjects = ['kor','eng','math']
{ subject:random.randint(60,101)  for subject in subjects  }

students = [
  { 'name' : '홍길동', 'scores':{ subject:random.randint(60,101)  for subject in subjects  } },
  { 'name' : '이철수', 'scores':{ subject:random.randint(60,101)  for subject in subjects  } },
  { 'name' : '김영희', 'scores':{ subject:random.randint(60,101)  for subject in subjects  } },
]

# 학생데이터 생성 함수 : 파라메터를 이름, 과목별 성적
def addData(name, **scores):
  return {'name':name, 'scores':scores}

# 학생데이터 추가 함수
def addStudent(name, **scores):  # positional arg:2개,  키워드 매개변수
  new_student = addData(name, **scores)  # unpacking  풀어서 전달 why? 함수에서 다시 압축(packing)해서 받기
  students.append(new_student)

addStudent('강감찬', kor = 90, eng = 80, math = 70)  # 데이터를 많이 넣어서...

# 전체 학생수, 최고 평균 몇점(소수둘째자리에서 반올리) 누구인지, 평균이 높은 학생 두명
print(f'전체 학생수 : {len(students)}')
{ student['name']:round(sum(student['scores'].values()) / len(student['scores']), 2) for student in students}

전체 학생수 : 4

{'홍길동': 89.33, '이철수': 74.67, '김영희': 81.33, '강감찬': 80.0}

In [ ]:
students

[{'name': '홍길동', 'scores': {'kor': 69, 'eng': 77, 'math': 97}},
 {'name': '이철수', 'scores': {'kor': 94, 'eng': 64, 'math': 74}},
 {'name': '김영희', 'scores': {'kor': 93, 'eng': 95, 'math': 93}},
 {'name': '강감찬', 'scores': {'kor': 90, 'eng': 80, 'math': 70}}]