<a href="https://colab.research.google.com/github/AshOne91/PLAYDATA-COLAB/blob/main/8_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B2%A0%EC%9D%B4%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

```
데이터베이스
  데이터를 효율적으로 관리 저장 검색
  구조화 : 테이블, 행 ,열로 구성
  무결성 : 데이터의 정확성과 일관성 유지
  접근성 : SQL로 데이터를 조
  DMBS(Database Management System) : 관계형 데이터 베이스
    데이터베이스를 관리하는 소프트웨어(mysql, oracle....)
    SQL(Structured Query Language) : 데이터베이스에서 데이터를 조작하는 언어
      C(insert) R(select) U(update) D(delete) 가능
      데이터를 정의(DDL) : 테이블 생성, 수정 등
      데이터를 조작(DML) : 데이터를 삽입, 수정, 삭제
      데이터 제어(DCL)   : 권한관리
```

https://dev.mysql.com/downloads/file/?id=536788

world 스키마가 없는경우

https://discord.com/channels/1331160911658094655/1331160911905427471/1348458640696279183

mysql workbench  실습

```
-- 조회 select
select * from world.city;
select * from world.city where Population > 10000000;

-- 생성 insert
insert into world.city values(null, 'abc','kor','seoul',50000000);
-- 업데이트 u
update world.city set name = 'cba' where id = 4080;
-- *  는 모든 컬럼을 출력한다
select * from world.city where name = 'abc';
-- 삭제
delete from world.city where name = 'abc';
select * from world.city where id = 4080;

-- 데이터베이스(스키마) 생성
create database if not exists student_db;
-- 실행될 데이터베이스 선택
use student_db;
-- 학생테이블 생성
create table if not exists student_db.students(
	id int auto_increment primary key,
    name varchar(100) not null,
    age int not null,
    scores json
);
-- 테이블 구조 확인
desc student_db.students;
-- 테이블 삭제
drop table if exists student_db.students;

commit;
```

```
mysql connector를 install
```

```
-- 조회 select
select * from world.city;
select * from world.city where Population > 10000000;

-- 생성 insert
insert into world.city values(null, 'abc','kor','seoul',50000000);
-- 업데이트 u
update world.city set name = 'cba' where id = 4080;
-- *  는 모든 컬럼을 출력한다
select * from world.city where id = 4080;
-- 삭제
delete from world.city where id = 4080;
select * from world.city where id = 4080;

-- 데이터베이스(스키마) 생성
create database if not exists student_db;
-- 실행될 데이터베이스 선택
use student_db;
-- 학생테이블 생성
create table if not exists student_db.students(
	id int auto_increment primary key,
    name varchar(100) not null,
    age int not null,
    scores json
);
-- 테이블 구조 확인
desc student_db.students;
-- 테이블 삭제
drop table if exists student_db.students;

```

실습은 로컬에서 진행

In [ ]:
!pip install mysql-connector-python -q

In [ ]:
from mysql import connector
print(connector.__version__)

In [ ]:
args = {
  'host' : 'localhost',
  'user' : 'root',
  'password' : 'root1234',
  'port' : 3306
}
try:
    conn = connector.connect(**args)  # localhost 에 접속 해서 접속 객체를 생성
    cursor = conn.cursor() # 실제 db에 명령을 전달(sql)
    print('db success connection')
    cursor.execute('select * from world.city limit 10')
    # print(cursor.fetchall() ) # sql명령어를 통해 조회한 데이터를 객체로 가져온다
    students = []
    for id,name,countycode,district,population in cursor.fetchall():
        student_dict = {'id':id,'ct':countycode,'dt':district,'pp':population}
        students.append(student_dict)
        # print(f'id:{id}, name:{name}, ct:{countycode},dt:{district},pp:{population}')
except Exception as e:
  print(e)
finally:
    if conn:
        cursor.close()
        conn.close()
print(students)

In [ ]:
# 테이블 생성
args = {
  'host' : 'localhost',
  'user' : 'root',
  'password' : 'root1234',
  'port' : 3306,
  # 'database' : 'student_db'  # 접속할때 활성화할 db(스키마)명
}
try:
    conn = connector.connect(**args)  # localhost 에 접속 해서 접속 객체를 생성
    cursor = conn.cursor() # 실제 db에 명령을 전달(sql)
    print('db success connection')

    # 데이터베이스 student_db 생성
    cursor.execute('create database if not exists student_db')
    print("데이터베이스 생성")
    cursor.execute('use student_db')
    print("기본 데이터베이스 선택")

    cursor.execute(
        """
        create table if not exists student_db.students(
        	id int auto_increment primary key,
            name varchar(100) not null,
            age int not null,
            scores json
        )
        """
    )
    print(f'msg : {cursor.fetchall()}')
    print('students 테이블생성')
    # 테이블 구조 확인
    cursor.execute('desc students');
    print(f'테이블 구조 : {cursor.fetchall()}')
    conn.commit()
except Exception as e:
  print(e)
finally:
    if conn:
        cursor.close()
        conn.close()
        print('연결종료')

In [ ]:
# 학생테이블에 대해서 CRUD 구현
# 추가기능
args = {
  'host' : 'localhost',
  'user' : 'root',
  'password' : 'root1234',
  'port' : 3306,
  'database' : 'student_db'  # 접속할때 활성화할 db(스키마)명
}
# DB접속 함수
# 파라메터: 접속정보
# 리턴값:  접속 객체
def get_connection(args):
    return connector.connect(**args)  # localhost 에 접속 해서 접속 객체를 생성

# 학생정보 추가하는 함수 생성
import json
def add_student(name,age, scores):
  conn = None
  cursor = None
  try:
      conn = get_connection(args)  # localhost 에 접속 해서 접속 객체를 생성
      cursor = conn.cursor() # 실제 db에 명령을 전달(sql)
      query = "insert into students values(null,%s, %s, %s)"
      cursor.execute(query, (name,age,json.dumps(scores)) )
      conn.commit()  # 실제 Db에 반영
      return True
  except Exception as e:
    print(e)
    return False
  finally:
      if conn:
          cursor.close()
          conn.close()

In [ ]:
add_student('홍길동',25,{'kor':95,'eng':95,'math':100} )

In [ ]:
# 학생 정보 조회
def get_student(name = None):  # 전체 학생정보를 조회
    '''
    parameter : name은 기본값이 None, 원하는 이름으로 조회
    return : 성공 :조회결과, 실패:False
    '''
    conn = None
    cursor = None
    try:
        conn = get_connection(args) # 접속
        cursor = conn.cursor() # 쿼리실행 객체
        if name:
            query = f"select * from students where name = {name}" # 쿼리 문장
        query = "select * from students" # 쿼리 문장
        cursor.execute(query)  # 쿼리 실행
        students =  cursor.fetchall()  # 실행 한 쿼리의 리턴값(없으면 None)
        return students
    except Exception as e:
        print(e)
        return False
    finally:
        if conn:
            cursor.close()
            conn.close()

In [ ]:
help( get_student )

In [ ]:
print( get_student() )

In [ ]:
# 업데이트
def updatge_student(id, name=None,age=None,scores=None):  # 전체 학생정보를 조회
    '''
    parameter : 모든컬럼, 기본값이 None이며 원하는 값만 업데이트
    return : 조회결과
    '''
    conn = None
    cursor = None
    updates,params = [],[]
    try:
        conn = get_connection(args) # 접속
        cursor = conn.cursor() # 쿼리실행 객체
        if name:
            updates.append("name = %s")
            params.append(name)
        if age:
            updates.append('age = %s')
            params.append(age)
        if scores:
            updates.append("scores = %s")
            params.append(json.dumps(scores))
        query = f"update students set {','.join(updates)} where id = {id}" # 쿼리 문장
        print(query)  # 디버깅용 - 확인용
        print(params)
        cursor.execute(query,params)  # 쿼리 실행
        conn.commit()  # 실제 db에 반영
        return True
    except Exception as e:
        print(e)
        return False
    finally:
        if conn:
            cursor.close()
            conn.close()

In [ ]:
updatge_student(10,name='테스트',age=5,scores={"eng": 0, "kor": 0, "math": 0})

In [ ]:
# 삭제
query = 'delete from students where id = %s'
def delete_student(student_id):
    conn,cursor = None,None
    try:
        conn = get_connection(args)
        cursor = conn.cursor()
        cursor.execute('delete from students where id = %s',[student_id])
        conn.commit()
        print('삭제완료')
    except Exception as e:
        print(f'삭제오류 : {e}')
        return False
    finally:
        if conn:
            cursor.close()
            conn.close()

# 정리

```
데이터베이스
    - 데이터를 효율적으로 저장하기 위한 수단
    - 쿼리 : 데이터베이스 언어를 사용하기위한 명령어 - 질의어
        - select
            select 컬럼명,컬러명, ... from 테이블
                [where 컬럼명 = 값]
            ex) select * from students where id = 1
        - update
            update 테이블 set 컬럼명=값, 컬러명=값 ...
                where 컬럼명 = 값
            ex) update students set name= 'ooo', age = 5
                    where id = 1
        - insert
            insert into 테이블 values(값,값,값)            
        - delete
            delete from 테이블
                where id = 값
            ex) delete from students
                    where id = 1
```

```
파이썬연결
    1.
    연결객체가 필요( install)
    접속정보를 이용해서 연결 객체생성
    연결객체를 통해 커서객체 생성

    2.
    CRUD
        쿼리작성
        작성한 쿼리를 커서를 통해 execute
        select와 같이 결과를 리턴하는 쿼리는 커서.fetchall()실행해서 가져온다
        작업이 다 끝나면 실제 DB에 반영 - 연결객체.commit()
    Db작업이 끝나면
        커서.close()
        연결.close()
```